.modal__content {
  background-color: white;
  width: 358px;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

@media screen and (max-width: 500px) {
  .modal__content {
    width: 238px;
    padding: 22px;
  }
}
