.modal__title {
  margin-top: 0;
  margin-bottom: 54px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  line-height: 29px;
}

@media screen and (max-width: 320px) {
  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 3px;
    margin-bottom: 76px;
  }
}
