@import url("../vendor/normalize.css");
@import url("../vendor/fonts/inter.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__box/profile__box.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__avatar-image/profile__avatar-image.css");
@import url("../blocks/profile/__avatar-button/profile__avatar-button.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__occupation/profile__occupation.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/element/element.css");
@import url("../blocks/element/__photo/element__photo.css");
@import url("../blocks/element/__text-box/element__text-box.css");
@import url("../blocks/element/__title/element__title.css");
@import url("../blocks/element/__like-button/element__like-button.css");
@import url("../blocks/element/__like-button_activated/element__llike-button_activated.css");
@import url("../blocks/element/__trash/element__trash.css");
@import url("../blocks/element/__like-button/__counter/element__like-button__counter.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
@import url("../blocks/modal/modal.css");
@import url("../blocks/modal/__submit-button/_disabled/modal__submit-button_disabled.css");
@import url("../blocks/modal/__close-button/modal__close-button.css");
@import url("../blocks/modal/__title/modal__title.css");
@import url("../blocks/modal/__content/modal__content.css");
@import url("../blocks/modal/__form/modal__form.css");
@import url("../blocks/modal/__submit-button/modal__submit-button.css");
@import url("../blocks/modal/_open/modal_open.css");
@import url("../blocks/modal/__input/modal__input.css");
@import url("../blocks/modal/__error-text/modal__error-text.css");
@import url("../blocks/modal/__error-text/_visible/modal__error-text_visible.css");
@import url("../blocks/modal/__input/_has-error/modal__input_has-error.css");
@import url("../blocks/modal/__caption/modal__caption.css");
@import url("../blocks/modal/__image/modal__image.css");
@import url("../blocks/modal/__content/_type/modal__content_type_image.css");
@import url("../blocks/modal/__delete-button/modal__delete-button.css");
