.modal__submit-button {
  margin-top: 48px;
  background: #000000;
  border-radius: 2px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  width: 358px;
  height: 50px;
  color: #ffffff;
}

.modal__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
