.footer {
  display: flex;
  margin: 68px auto 60px;
  max-width: 880px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin: 50px auto 36px;
  }
}
