.profile__occupation {
  color: #ffffff;
  grid-area: ocupation;
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 540px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
