.element__like-button {
  display: flex;
  justify-content: center;
  align-self: center;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../../../images/like-icon.svg");
  background-repeat: no-repeat;
  height: 19px;
  width: 21px;
}

.element__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
